.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all .3s;
  position: absolute;
  width: 100%;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-top-enter-active,
.slide-top-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  will-change: transform;
  transition: all .3s;
  position: absolute;
  width: 100%;
}
.slide-top-enter {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}
.slide-top-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
.slide-bottom-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}

.ivu-back-top{
  z-index: 9999!important;
}
.v-note-wrapper{
  z-index: 90!important;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.shadowAround{
  box-shadow: 0 0 4px rgba(0, 0, 0, .2)
}
.shadowBottom{
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}
.shadowRight{
  box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
}
