@color_bg: #f8f8f9;                   // 背景色
@color_primary: #7a86d5;              // 主色调
@color_stress: #da5870;               // 强调色
@color_assist: #cad8ff;               // 辅助色
@color_title: #2c3e50;                // 标题
@color_content: #515a6e;              // 正文
@color_desc: #999999;                 // 辅助文字色
@color_border: #dcdee2;               // 边框

@font_title: 18px;                    // 标题字体
@font_content: 16px;                  // 正文字体
@font_desc: 14px;                     // 辅助字体
@font_taget: 12px;                    // 标签字体

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all .3s;
  position: absolute;
  width: 100%;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-top-enter-active,
.slide-top-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active {
  will-change: transform;
  transition: all .3s;
  position: absolute;
  width: 100%;
}
.slide-top-enter {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}
.slide-top-leave-to {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
.slide-bottom-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
}
/*ui库样式覆盖*/
.ivu-back-top{
  z-index: 9999!important;
}
.v-note-wrapper{
  z-index: 90!important;
}
.van-notify{
  padding: 18px 16px!important;
  font-size: @font_content!important;
}
.ivu-checkbox-checked .ivu-checkbox-inner{
  background-color: @color_primary!important;
  border-color: @color_primary!important;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.shadowAround{
  box-shadow: 0 0 4px rgba(0, 0, 0, .2)
}
.shadowBottom{
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}
.shadowRight{
  box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
}


